[package]
name = "json-trait"
version = "0.1.0"
authors = ["axion014 <axion014@gmail.com>"]
edition = "2018"

[features]
impl_json_rust = ["json"]
impl_serde_json = ["serde_json"]

[dependencies]
json = { version = "0", optional = true }
serde_json = { version = "1", optional = true }